{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}

    <h4>{% trans 'Iniciar sesión' %}</h4>

    <form method="post">

        {% csrf_token %}
        {% bootstrap_form form %}

        <button class="btn btn-primary">{% trans 'Iniciar sesión' %}</button>

    </form>

    <hr>

    <ul>
        <li>
            <a href="{% url 'usuarios:restore_password' %}">{% trans '¿Olvidaste tu contraseña?' %}</a>
        </li>
        <li>
            <a href="{% url 'usuarios:remind_username' %}">{% trans '¿Olvidó su nombre de usuario?' %}</a>
        </li>
        <li>
            <a href="{% url 'usuarios:resend_activation_code' %}">{% trans 'Reenviar un código de activación' %}</a>
        </li>
    </ul>

{% endblock %}
