{% extends 'layouts/default/page.html' %}

{% load i18n %}

{% block content %}

    <h4>{% trans 'Restaurar contraseña' %}</h4>

    <div>
        {% trans 'Le hemos enviado un correo electrónico a las instrucciones para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó.' %}
        {% trans 'Deberías recibirlos en breve.' %}

        <br>

        {% trans 'Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró, y verifique su carpeta SPAM.' %}
    </div>

{% endblock %}
