{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}

    <h4>{% trans 'Restaurar contraseña' %}</h4>

    {% if validlink %}

        <p>
            {% trans 'Ingrese su nueva contraseña dos veces para que podamos verificar que lo escribió correctamente.' %}
        </p>

        <form method="post">

            {% csrf_token %}
            {% bootstrap_form form %}

            <button class="btn btn-success">{% trans 'Cambio' %}</button>

        </form>

    {% else %}

        <div class="alert alert-danger">
            {% trans 'El enlace de restablecimiento de contraseña no fue válido, posiblemente porque ya se ha utilizado.Por favor, solicite un nuevo restablecimiento de contraseña.' %}
        </div>

    {% endif %}

{% endblock %}
