<div class="modal fade" 
     id="confirmDeleteModal" tabindex="-1" caller-id="" role="dialog" 
     aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body confirm-delete" id="confirmDeleteModalBody">
                ¿Está seguro de eliminar el registro?<br><br>
                <p class="text-danger font-italic text-center" id="confirmDeleteModalObject">...</p>
            </div>
            <div class="modal-footer" id="confirmDeleteModalFooter">
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="confirmDeleteButtonModal">Eliminar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>

</div>