<!DOCTYPE html>
{% load static mis_tags %}
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        
        <title>
            {% block title %}Django 3.2{% endblock %}
        </title>

        <!-- Favicons -->
        <link rel="apple-touch-icon" href="{% static 'img/favicons/apple-touch-icon.png' %}" sizes="180x180">
        <link rel="icon" href="{% static 'img/favicons/favicon-32x32.png' %}" sizes="32x32" type="image/png">
        <link rel="icon" href="{% static 'img/favicons/favicon-16x16.png' %}" sizes="16x16" type="image/png">
        <link rel="icon" href="{% static 'img/favicons/favicon.ico' %}">

        <!-- Bootstrap core CSS -->
        <link href="{% static 'vendors/bootstrap/bootstrap.min.css' %}" rel="stylesheet" />
        <link href="{% static 'css/estilo.css' %}" rel="stylesheet" />

        <!-- CSS en cabecera  -->
        {% block css %}
        {% endblock css %}

        <!-- JS en cabecera  -->
        {% block jsheader %}
        {% endblock jsheader %}
    </head>
    <body>
        <!-- navbar (si existe lo muestra) -->
        {% block navbar %}
        {% include 'navbar'|local_include_exists:request.resolver_match.app_name %}
        {% endblock %}

        <main role="main" class="container" id="main-content">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            {% block content %}
            {% endblock content %}
        </main>

        <!-- ventanas modales -->
        {% block modal %}
        {% endblock modal %}

        <!-- Font Awesome -->
        <script src="{% static 'vendors/fontawesome/all.min.js' %}"></script>
        <!-- jQuery / Popper (bootstrap.bundle) / Bootstrap -->
        <script src="{% static 'vendors/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'vendors/bootstrap/bootstrap.bundle.min.js' %}"></script>
        <!-- script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script -->
        
        <!-- JS en body -->
        {% block js %}
        {% endblock js %}
    </body>
</html>
