{% extends 'base.html' %}


{% block content %}

    <div class="jumbotron">
        <h1>Navbar fijo</h1>
        <p class="lead">Este ejemplo demuestra como utilizar la barra de navegación fija en la parte superior. A medida que se desplaza, permanecerá fijo en la parte superior de la ventana gráfica de su navegador.</p>
        <a class="btn btn-lg btn-primary" href="/docs/4.6/components/navbar/" role="button">Ver documentación &raquo;</a>
    </div>

    <div class="container">
        <h1>Navbar fijo</h1>
        <p class="lead">Este ejemplo demuestra como utilizar la barra de navegación fija en la parte superior. A medida que se desplaza, permanecerá fijo en la parte superior de la ventana gráfica de su navegador.</p>
        <a class="btn btn-lg btn-primary" href="/docs/4.6/components/navbar/" role="button">Ver documentación &raquo;</a>
    </div>

{% endblock content %}


