<div class="modal fade" 
     id="confirmYesNoModal" tabindex="-1" caller-id="" role="dialog" 
     aria-labelledby="confirmYesNoModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body confirm-delete" id="confirmYesNoModalBody">
                ¿Está seguro de lo que desea hacer?<br><br>
                <p class="text-danger font-italic text-center" id="confirmYesNoModalObject">...</p>
            </div>
            <div class="modal-footer" id="confirmYesNoModalFooter">
                <button type="button" class="btn btn-success" data-dismiss="modal" id="confirmYesNoButtonModal">&nbsp;Sí&nbsp;</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">&nbsp;No&nbsp;</button>
            </div>
        </div>
    </div>

</div>