{% extends "layouts/base.html" %}

{% load mis_tags %}
{% load static %}


<!-- título de la página  -->
{% block title %}
    {{view.model|verbose_name}}
{% endblock %} 


<!-- estilos personalizados  -->
{% block stylesheets %}
<style>
    dl.inline dd {
        display: inline;
        margin: 0;
    }
    dl.inline dd:after {
        display: block;
        content: '';
    }
    dl.inline dt {
        display: inline-block;
        min-width: 100px;
    }
</style>
{% endblock stylesheets %}


{% block content %}
    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Detalle : {{view.model|verbose_name}}</h1>

            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                <li class="breadcrumb-item"><a href="{{view.model.get_list_url}}">Tabla</a></li>
                <li class="breadcrumb-item active">Detalle</li>
            </ol>

            {# https://themes.startbootstrap.com/sb-admin-pro/cards.html #}

            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="m-0 font-weight-bold text-primary">
                                Datos Generales
                            </h6>
                        </div>
                        <div class="card-body">
                            <div class="row flex-column-reverse flex-md-row">
                                <div class="col-md-10">
                                    <div class="tab-content" id="cardPillContentVertical">
                                        <div class="tab-pane fade show active" id="pillDatos" role="tabpanel" aria-labelledby="overview-pill-vertical">
                                            {% include "detail_snippet"|local_include_exists:request.resolver_match.app_name %}
                                        </div>
                                        
                                        <div class="tab-pane fade" id="pillDomicilio" role="tabpanel" aria-labelledby="example-pill-vertical">
                                            {% include "persona/includes/detail_domicilio.html" %}
                                        </div>

                                        <div class="tab-pane fade" id="pillContactos" role="tabpanel" aria-labelledby="example-pill-vertical">
                                            {% include "persona/includes/detail_contacto.html" %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2" style="background-color: moccasin;">
                                    <ul class="nav nav-pills flex-column" id="cardPillVertical" role="tablist" style="margin-top: 10px; margin-bottom: 10px;">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="overview-pill-vertical" href="#pillDatos" data-toggle="tab" role="tab" aria-controls="overview" aria-selected="true">Información</a>
                                        </li>
                                        <li class="nav-item">
                                            <!-- {# if not object.domicilio #}disabled{# endif #} -->
                                            <a class="nav-link" id="example-pill-vertical" href="#pillDomicilio" data-toggle="tab" role="tab" aria-controls="example" aria-selected="false">Domicilio</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="example-pill-vertical" href="#pillContactos" data-toggle="tab" role="tab" aria-controls="example" aria-selected="false">Contactos</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer small text-muted">
                            <a href="{{object.get_update_url}}" class="btn btn-sm btn-primary btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-pen"></i>
                                </span>
                                <span class="text">Modificar</span>
                            </a>

                            <a class="btn btn-sm btn-warning btn-icon-split" href="{{request.META.HTTP_REFERER}}">
                                <span class="icon text-white-50">
                                    <i class="fas fa-undo"></i>
                                </span>
                                <span class="text">Regresar</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
{% endblock content %}


{% block modal %}
    {% include 'persona/includes/modal_find.html' %}
{% endblock modal %}


<!-- jscript de la página  -->
{% block javascripts %}
<script type="text/javascript">
    // visualiza los tooltip con bootstrap
    $(function() {
        $('[data-toggle="tooltip"]').tooltip();
    });

    // carga el formulario de búsqueda
    $('#btnAsociar').click(function() {
        var dataURL = $(this).attr("data-url");
        
        $.ajax({
            url: dataURL,
            success: function(response) {
                $('#findModalBody').html(response);
                $('#findModal').modal('toggle');
            },
            error: function(xhr, status, error) {
                console.log(xhr.responseText);
            }
        })
    });

    function ajax_modal_submit(form) {
        console.log(form.action)
        var dataURL = "{% url 'persona:domicilio-filtro-modal' %}"
        
        $.ajax({
            url: dataURL,
            success: function(response) {
                $('#findModalBody').html(response);
            },
            error: function(xhr, status, error) {
                console.log(xhr.responseText);
            }
        })
    }

    // $(window).on('load', function() {
    //     $('#findModal').modal('show');
    // });
</script>
{% endblock javascripts %}
