{% load static %}

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Empresa</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">

        <!-- menú de aplicaciones -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link {% if '/home/' in request.path_info %} active {% endif %}" href="{% url 'home' %}">
                    <i class="fas fa-home"></i> Inicio
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if '/habilitado/' in request.path_info %} active {% endif %}" href="#">Habilitado</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Deshabilitado</a>
            </li>
        </ul>

        <!-- menú de usuario -->
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if request.user.is_authenticated %}
                        {{ request.user.username }}
                    {% else %}
                        <i class="fas fa-user fa-fw"></i>
                    {% endif %}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                            <a class="dropdown-item" href="/admin/">
                                <i class="fa fa-user-cog"></i> Administración
                            </a>
                            <div class="dropdown-divider"></div>
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'accounts:change_profile' %}">
                            <i class="fa fa-user"></i> Cambiar Perfil
                        </a>
                        <a class="dropdown-item" href="{% url 'accounts:change_email' %}">
                            <i class="fa fa-envelope"></i> Cambiar eMail
                        </a>
                        <a class="dropdown-item" href="{% url 'accounts:change_password' %}">
                            <i class="fa fa-unlock-alt"></i> Cambiar Contraseña
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'accounts:log_out' %}">
                            <i class="fa fa-door-open"></i> Salir
                        </a>
                    {% else %}
                        <a class="dropdown-item" href="{% url 'accounts:sign_up' %}" id="signup-btn">
                            <i class="fas fa-user-plus"></i> Crear cuenta</a>
                        </a>
                        <a class="dropdown-item" href="{% url 'accounts:log_in' %}" id="login-btn">
                            <i class="fas fa-door-closed"></i> Entrar</a>
                        </a>
                    {% endif %}
                </div>
            </li>
        </ul>

    </div>

</nav>
