{% extends "comunes/tabla.html" %}
{% load static mis_tags %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block tabla %}
    <style>
    .sidebar {
        -ms-flex: 0 0 230px;
        flex: 0 0 230px;
        background-color: gainsboro; 
        padding: 20px 10px 20px 10px;
        border-radius: 10px;
    } 

    @media (max-width: 690px) {
      .sidebar {
        display: none; 
      } 
    }
    </style>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                {% render_table table %}
            </div>
            <div class="col sidebar">
                {% crispy filter.form filter.form.helper %}
            </div>
    
        </div>

    </div>

{% endblock tabla %}



